/* Sam og Elisabeth sin kode. */
body {
   font-family: 'Roboto', serif; 
   margin: 0;
}

.container {    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: url(Bilder/bakgrunn.png) no-repeat center fixed; 
    background-size: cover;
}

.container--header {
    position: absolute; 
    top: 115px;
    color: white;
}

.header {
    height: 50px;
    width: 100%; 
    text-align: center; 
}

.manu {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 0;
}

.manu li {
    display: inline;
    text-decoration: none; 
    font-size: 1.2rem;
    padding: 5px 12px 5px 10px; 
    border-right: 1px solid white;
    font-family: 'Oswald', serif;
    letter-spacing: 2px;
}

.manu li a {
    text-decoration: none;
    color: white;
}

.manu li:last-child {
    border-right: 0;
}

.container--inner { 
    height: 240px; 
    width: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.container--inner--text {
    text-align: center;
    color: white;
    height: 100%;
    width: 850px; 
    margin-left: -200px;
    margin-right: -200px;
}

h1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 5.5em;
    font-weight: 300;
}

p{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1,5em;
    padding: 0 125px;
}

.breakdiv {
    height: 70px;
    background-color: #D6E6E8;
}

#stickyheader {
    top: 100px;
    padding-top: 20px;
    background-color: #D6E6E8;
}

#stickyheader li {
    border-color: grey;
}

#stickyheader li a {
    color: grey;
}

.mainContainer {
    background-color: none;
}

#pilNed
{
    position: absolute;
    top: 720px;
    left: 43.5vw;
    width: 137px;
}

/* Sam sin CCS kode! */
/* Her begynner infosiden! */

/* Container kode. */
#infoContainer 
{
    width: 100%;
    height: 800px;
    background-color: #D6E6E8;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* Rad 1. */
#infoColumn1
{
    float: left;
    width: 50%;
    height: 700px;
    margin: 75px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 0px;
}

/* Rad 2. */
#infoColumn2
{
    float: left;
    width: 25%;
    height: 575px;
    margin: 95px 5px 5px 5px;
    padding: 15px 60px;
}

/* Skal prøve å lage en mindre skillestrek med denne! */
#borderBox
{
    position: absolute;
    top: 115px;
    left: 775px;
    height: 450px;
    width: 1px;
    border-color: #37ABB1;
    border-left-style: solid;
    border-left-width: 1px;
    z-index: 1;
}

#infoP
{
    font-family: 'Roboto', serif;
    font-size: 16px;
    color: #4A4A4A;
    padding: 0px 0px 0px 0px;
    text-align: justify;
}

#fjerdingen
{
    width: 90%;
    height: 475px;
    /* Skygge parametere! Kopier denne for å bruke til andre bilder! */
    box-shadow: 5px 5px 30px 5px #BDC3C7;
}

/*          HER BEGYNNER SOKESIDE CSS       */

/*        KRISTOFFER BEGYNNER HER    ///    */




#sokemeny {
    margin: auto;
    border: 10px;
    padding: 50px;
    
    top: 500px;
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
}


#sokeknapp {
    margin: auto;
    
    background-color: darkgrey;
    height: 40px;
    width: 200px;
    
}



/* HER AVSLUTTER SOKESIDEN CSS /* 
/* KRISTOFFER AVSLUTTER HER    /*   
