body {
   font-family: 'Roboto', serif; 
   margin: 0;
}

.pil{ 
    top: 60px;
}


.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: url(Bilder/bakgrunn.png) no-repeat center fixed; 
    background-size: cover;
}

.container--inner { 
    height: 270px; 
    width: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    margin: auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.container--inner--text {
    text-align: center;
    color: white;
    height: 100%;
    width: 850px; 
    margin-left: -200px;
    margin-right: -200px;
}

h1{
    margin-top: 30px;
    font-size: 5.5em;
    font-weight: 300;
}

p{
    margin-top: 30px;
    font-size: 1,5em;
    padding: 0 125px;
}

