#map {
    position: absolute;
    top: 12.5%;
    left: 5%;
    height: 600px;
    width: 750px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#floating-panel {
    position: absolute;
    top: 13.5%;
    left: 20%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
#mainContent {
    position: absolute;
    left: 80%;
    top: 12.5%;
    color: red;
}