#testContainer 
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-color: #D6E6E8;
    background-size: cover;
}

#testTextwrap
{
    position: absolute;
    top: 0;
    left: 350px;
    width: 700px;
    height: 50px;
    padding: 20px;
    background-color: #D6E6E8;
    border-bottom: 1px solid;
    border-color: #37ABB1;
}

#testP
{
    color: #4A4A4A;
    font-size: 1,5em;
    padding: 0 125px;
    text-align: center;
    font-family: 'Roboto', serif;
}


#resultatSirkel {
    position: absolute;
    margin:auto;
    left: 70px;
    top: 150px;
    /* background-color: black; */
    /* background-image: url(testbilde/Cafeconbar.png); */
    width: 227px;
	height: 227px;
	-moz-border-radius: 113px;
	-webkit-border-radius: 113px;
	border-radius: 113px;
    
}