/* Google Maps */
#map {
    position: absolute;
    top: 12.5%;
    left: 50px;
    height: 600px;
    width: 750px;
}

/* Hovedside */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #D6E6E8;
}

/* Navigasjonsbar på Map */
#floating-panel {
    position: absolute;
    top: 110px;
    left: 250px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

/* Tekstkolonne */
#mainContent {
    position: absolute;
    left: 860px;
    top: 250px;
    width: 450px;
    height: 450px;
    border-color: #37ABB1;
    border-left-style: solid;
    border-left-width: 1px;
}

/* Logo div */
#logo {
    position: absolute;
    left: 860px;
    top: 100px;
    width: 450px;
    border-color: #37ABB1;
    border-left-style: solid;
    border-left-width: 1px;
}

/* Image */
#mapsImg {
    width: 152px;
}

/* Skrift */
h1, h2 {
    margin: 5px;
    padding: 10px;
    font-family: 'Roboto', 'sans-serif';
    color: #4A4A4A;
}